:root {
    --ice-gold: #a0d2eb;
    --freeze-purple: #e5eaf5;
    --medium-purple: #d0bdf4;
    --purple-pain: #8458b3;
    --heavy-purple: #494d5f;
}

body {
    background-color: #eef0f5;
    font-family: "Roboto", sans-serif;
}

.advert {
    margin-top: 20px;
    background-color: #eef0f5;
    border: 3px solid transparent;
}

.advert:hover {
    animation: animateAdvert 3s linear forwards;
}

@keyframes animateAdvert {
    0% {
        border: 3px solid #acafbd;
    }
    50% {
        border: 3px solid #595d6d;
    }
    100% {
        border: 3px solid #494d5f;
    }
}

.name {
    font-size: 2.5vw;
    font-family: "Roboto", sans-serif;
}

.nativ {
    background-color: var(--ice-gold);
    font-size: 1.2vw;
}

.nativ-language {
    font-size: 1.2vw;
}

.teaches {
    background-color: var(--ice-gold);
    font-size: 1.2vw;
}

.language {
    font-size: 1.2vw;
}

.description-container {
    height: 135px;
    overflow: scroll;
    overflow-x: hidden;
}

.description {
    height: 135px;
    font-size: 14px;
    overflow: hidden;
    overflow-x: hidden;
}

.price-span {
    font-size: 1.2vw;
}

.price {
    font-size: 1.2vw;
}

.button-contact {
    margin-top: 25px;
    color: white;
    border: 2px solid transparent;
    border-radius: 1vw;
    text-align: center;
    height: 3vw;
    width: 15vw;
    font-size: 1.5vw;
    background: rgb(88, 183, 200);
    outline: none;
}

.button-contact:hover {
    color: black;
    border-radius: 15px;
    text-align: center;
    background: var(--ice-gold);
}
#ratingSpan {
    font-size: 2vw;
    padding-left: 5.5vw;
}
#ratingRow {
    padding-left: 2.7vw;
}
#sendRatingButton {
    margin-left: 15px;
    margin-top: 32px;
    color: white;
    border: 2px solid transparent;
    border-radius: 0.5vw;
    text-align: center;
    height: 2vw;
    width: 4vw;
    font-size: 0.9vw;
    background: rgb(136, 67, 192);
    outline: none;
}
#sendRatingButton:hover {
    background: rgb(214, 166, 34);
}

.button-profile {
    color: white;
    border: 2px solid transparent;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    margin-left: 20px;
    margin-top: 15px;
    background: rgb(136, 67, 192);
    outline: none;
}

.button-profile:hover {
    color: black;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    margin-left: 20px;
    margin-top: 15px;
    background: var(--ice-gold);
}

/* scroll bar */

::-webkit-scrollbar {
    width: 5px;
}

/* scroll bar */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* scroll bar */

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px;
}

/* scroll bar */

::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
}

.rating > .rating-radio-input {
    display: none;
}

.rating > .rating-label {
    position: relative;
    width: 0.7em;
    font-size: 3vw;
    color: #ffd600;
    cursor: pointer;
}

.rating > .rating-label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > .rating-label:hover:before,
.rating > .rating-label:hover ~ .rating-label:before {
    opacity: 1 !important;
}

.rating > .rating-radio-input:checked ~ .rating-label:before {
    opacity: 1;
}

.rating:hover > .rating-radio-input:checked ~ .rating-label:before {
    opacity: 0.4;
}
@media only screen and (max-width: 1600px) {
    .rating {
        margin-right: 150px !important;
    }
    .rating-title {
        padding-right: 160px !important;
    }
}
